In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np

In [3]:
import igraph as ig

In [4]:
from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
from plotly.graph_objs import *
init_notebook_mode(connected=True)

# Read and parse data

Take a look at what the file looks like:

In [5]:
! head ./example_graphs/trip_data_2013_12_31_cleaned.csv.el.001

In [6]:
df = pd.read_csv('./example_graphs/trip_data_2013_12_31_cleaned.csv.el.001', sep='\t', skiprows=1, names=['source', 'target'])
df = df.applymap(lambda x: eval(x))

In [7]:
df['source_long'] = df['source'].apply(lambda x: x[0])
df['source_lat'] = df['source'].apply(lambda x: x[1])

df['target_long'] = df['target'].apply(lambda x: x[0])
df['target_lat'] = df['target'].apply(lambda x: x[1])

In [8]:
df.head()

,source,target,source_long,source_lat,target_long,target_lat
0,"(-74.284, 40.645)","(-74.26, 40.638)",-74.284,40.645,-74.260,40.638
1,"(-74.252, 40.75)","(-73.884, 40.771)",-74.252,40.750,-73.884,40.771
2,"(-74.236, 40.701)","(-74.004, 40.722)",-74.236,40.701,-74.004,40.722
3,"(-74.236, 40.799)","(-73.892, 40.757)",-74.236,40.799,-73.892,40.757
4,"(-74.212, 40.75)","(-73.948, 40.673)",-74.212,40.750,-73.948,40.673

In [9]:
names = names={'source':'name', 'source_long':'long', 'source_lat':'lat', 'target':'name', 'target_long':'long', 'target_lat':'lat',}
df_locations = pd.DataFrame(pd.concat([df[['source', 'source_long', 'source_lat']].copy().rename(columns=names), df[['target', 'target_long', 'target_lat']].copy().rename(columns=names)], ignore_index=True).drop_duplicates())

In [65]:
df.shape[0] # number of edges

16610

In [66]:
df_locations.shape[0] # number vertices

1123

# Build graph

In [36]:
locations = Data([Scattermapbox(
                                lat=df_locations['lat'],
                                lon=df_locations['long'],
                                mode='markers',
                                marker=Marker(
                                              size=9
                                             ),
                                text=df_locations['name'],
                                )
                 ])

In [67]:
paths = Data([Scattermapbox(
                            lat= [ df['source_lat'][i], df['target_lat'][i] ],
                            lon= [ df['source_long'][i], df['target_long'][i] ],
                            mode='lines',
                            )
             for i in range(len(df[:10]))
             ]
            )

In [42]:
mapbox_access_token = 'pk.eyJ1IjoiY2JsZWtlciIsImEiOiJjamRrbDdhbG0wMmN0MndvMDVzbHJ5dXZ1In0.tP2zTKOSFRDCDSj84K2ceA'

In [59]:
layout = Layout(
                autosize=True,
                hovermode='closest',
                mapbox=dict(
                            accesstoken=mapbox_access_token,
                            bearing=0,
                            center=dict(
                                        lat=40.731536, 
                                        lon=-73.720754
                                        ),
                            pitch=0,
                            zoom=10
                            ),
                showlegend=False
                )

In [68]:
fig = dict( data=locations+paths, layout=layout )
plot( fig )

'file:///home/cbleker/code/GraphVisualization/examples/temp-plot.html'